* {
    margin: 0;
    box-sizing: border-box;
}

.container1 {
    height: 870px;
}

.aqua {
    height: 550px;
    background: linear-gradient(-180deg, aqua, white);
    opacity: 0.8;
}

.aqua-img {
    max-width: 1500px;
    position: absolute;
}

.nav-menu {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 3;
    top: 10px;
    left: 60px;
}

@media (max-width: 479px) {
    .nav-menu {
        width: 80%;
    }
}

.nav-link {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: Helvetica, sans-serif;
}

@media (max-width: 479px) {
    .nav-link {
        font-size: 15px;
    }
    .nav-menu img {
        width: 50%;
        height: 50%;
    }
}

.nav-link:hover {
    text-decoration: underline;
}

.phone {
    padding: 8px 12px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    text-decoration: none;
    color: black;
    background: white;
    font-size: 17px;
    font-family: Helvetica,
    sans-serif;
}

.phone:hover {
    text-decoration: underline;
    color: white;
    background: black;
}

.header-low {
    display: flex;
    position: relative;
}

.header-low-texts {
    margin-top: 220px;
    margin-left: 60px;
    color: white;
}

.header-low-title {
    font-size: 76px;
    font-family: Helvetica, sans-serif;
}

@media (max-width: 479px) {
    .header-low-title {
        font-size: 35px;
    }
}

.header-low-subtitle {
    font-size: 30px;
    font-family: Helvetica, sans-serif;
    line-height: 1.2;
}

@media (max-width: 479px) {
    .header-low-subtitle {
        font-size: 20px;
    }
}

.header-low-image {
    padding-right: 10px;
}

.button1, .button2 {
    margin-top: 10px;
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    color: white;
}

.button2 {
    line-height: 2;
    text-align: center;
}

.button1 {
    background: linear-gradient(45deg, #00cccc, #66ff99);
}

.button1:hover {
    color: black;
    background: white;
}

/*.button2:hover {
    color: black;
    /*background: none;*/
}

span {
    margin-top: 100px;
    font-size: 30px;
}

.button-link {
    text-decoration: none;
    color: white;
}

.button-link:hover {
    color: black;
}

.button2 {
    background: none;
    color: #0099ff;
    text-align: center;
}

.for-provided-items {
    margin: 40px 0;
    display: flex;
    justify-content: space-around;
}

.provided-header {
    text-align: center;
    font-size: 46px;
    font-family: Helvetica, sans-serif;
}

.provided-header:after {
    margin: 0 auto;
    margin-top: 10px;
    content:"";
    display: block;
    height: 5px;
    width: 120px;
    border-radius: 20px;
    background: linear-gradient(45deg, #cccccc, #cccccc, transparent, #999999, #999999, transparent, #cccccc, #cccccc);
}

.provided-items {
    width: 35%;
    display: flex;
}

.provided-title {
    margin-top: 30px;
    font-family: Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.provided-description {
    margin-top: 5px;
    font-family: Helvetica,
    sans-serif;
    font-size: 19px;
}

.provided-icons {
    margin-top: 30px;
    margin-right: 25px;
}

.hr1{
    width: 70%;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 15px;
    border-top: 2px dashed #999999;
}

.hr2 {
    width: 80%;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 15px;
    border-top: 2px solid #999999;
}

.statistics-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.statistics-numbers, .statistics-texts {
    text-align: center;
}

.statistics-numbers {
    font-size: 46px;
    font-family: Helvetica, sans-serif;
    font-weight: 700;
}

.statistics-texts {
    margin-top: 10px;
    font-size: 20px;
    font-family: Helvetica,
    sans-serif;
    text-transform: uppercase;
}

.stat-icons {
    margin: 90px 0 200px 0;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.container3 {
    border-right: 4px solid #cccccc;
    padding-right: 150px;
}

.container3:last-child {
    border-right: none;
    padding-right: 0;
}

.provided-header2 {
    text-align: center;
    font-size: 46px;
    font-family: Helvetica, sans-serif;
}

.tvscreen {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 50px auto;
}

ul {
    margin-top: 27px;
}

li {
    list-style: none;
    font-size: 20px;
    font-family: Helvetica, sans-serif;
    line-height: 1.5;
    cursor: pointer;
}

tv-texts {
    font-size: 20px;
}

.span-tv {
    padding-right: 20px;
    font-size: 25px;
}

.container-call-to-action {
    background: linear-gradient(90deg, #0033cc, #0066ff);
    padding-bottom: 50px;
}

.provided-header3 {
    padding: 50px 0 20px 0;
    text-align: center;
    margin: 0 auto;
    width: 60%;
    font-size: 46px;
    font-family: Helvetica, sans-serif;
    color: white;
}

.enraging-button {
    width: 33%;
    margin: 0 auto;
}

.gradient-button {
    font-size: 26px;
    background: linear-gradient(90deg, #6699ff, #33ccff);
    border: none;
    border-radius: 20px;
    padding: 5px 20px;
}

.button-start {
    color: white;
    text-decoration: none;
}

.gradient-button:hover {
    color: white;
    background: black;
}

.grid {
    justify-content: space-around;
    width: 70%;
    margin: 40px auto;
    display: grid;
    grid-gap: 20px;
    color: white;
    text-align: center;
    align-content: center;
    grid-template-columns: 250px 320px 450px;
}

.grid5 {
    width: 85%;
    margin-top: 140px;
    background-color: #336666;
    border-radius: 20px;
    text-align: left;
    box-shadow: 2px 2px 2px #336666;
    padding: 50px 0;
}

.grid5-title, .grid5-description {
    margin: 20px 0 20px 20px;
    font-family: Helvetica, sans-serif;
    color: white;
}

.grid5-title {
    font-size: 20px;
}

.grid5-description {
    font-size: 15px;
}

.grid5-img {
    margin: 50px 0 0 20px;
}

.grid8 {
    width: 85%;
    margin: 40px 0;
    background-color: white;
    border: 0.6px solid #999999;
    border-radius: 20px;
    text-align: left;
}

.grid8-title,
.grid8-description {
    margin: 20px 0 20px 20px;
    font-family: Helvetica, sans-serif;
}

.grid8-title {
    font-size: 20px;
    color: black;
}

.grid8-description {
    font-size: 15px;
    color: #999999;
}

.grid8-img {
    margin: 50px 0 0 20px;
}

/*grid7*/

.grid7 {
    margin-top: 40px;
    width: 85%;
    background-color: white;
    border: 1px solid #999999;
    border-radius: 20px;
    text-align: left;
    box-shadow: 2px #d0dcdcb5;
}

.grid7-title,
.grid7-description {
    margin: 20px 0 20px 20px;
    font-family: Helvetica, sans-serif;
}

.grid7-title {
    font-size: 20px;
    color: black;
}

.grid7-description {
    font-size: 15px;
    color: #999999;
}

.grid7-img {
    margin: 50px 0 0 20px;
}

/*grid1*/

.grid1 {
    width: 85%;
    margin-top: 80px;
    background-color: white;
    border: 1px solid #999999;
    border-radius: 20px;
    text-align: left;
    box-shadow: 2px #d0dcdcb5;
}

.grid1-title,
.grid1-description {
    margin: 20px 0 20px 20px;
    font-family: Helvetica, sans-serif;
}

.grid1-title {
    font-size: 20px;
    color: black;
}

.grid1-description {
    font-size: 15px;
    color: #999999;
}

.grid1-img {
    margin: 50px 0 0 20px;
}

/*grid6*/

.grid6 {
    text-align: left;
    margin: 20px 0 20px 20px;
}

.grid6-title {
    margin-bottom: 20px;
    font-size: 44px;
    font-family: Helvetica, sans-serif;
    color: black;
}

.grid6-description {
    margin-bottom: 20px;
    font-size: 20px;
    font-family: Helvetica, sans-serif;
    color: black;
    line-height: 1.5;
}

.grid6-link {
    margin-top: 60px;
    font-size: 18px;
}

.details-links {
    color: blue;
    text-decoration: none;
    font-family: Helvetica, sans-serif;
}

.details-links:hover {
    text-decoration: underline;
}

.grid2, .grid3, .grid4, .grid9 {
    background-color: none;
}

.big-flex {
    display: flex;
    flex: 1 1 0;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.flex-right {
    margin: auto 0;
}

/*clients-love*/

.clients-love {
    display: flex;
    width: 80%;
    margin: 60px auto;
    flex: 1 1 0;
    justify-content: space-around;
}

.clients-love6 {
    width: 29%;
    text-align: left;
    margin: 20px 0 20px 20px;
}

.clients-love6-title {
    margin-bottom: 20px;
    font-size: 44px;
    font-family: Helvetica, sans-serif;
    color: black;
}

.clients-love6-description {
    margin-bottom: 20px;
    font-size: 20px;
    font-family: Helvetica, sans-serif;
    color: black;
    line-height: 1.5;
}

.clients-love6-link {
    margin-top: 60px;
    font-size: 18px;
}

.testimonials-huge {
    display: flex;
    justify-content: space-evenly;
}

.testimonials {
    background-color: url(https://raw.githubusercontent.com/pavloullakh/seo-site/main/images/dark_bg_02.jpg);
    padding-bottom: 20px;
}

.provided-header-testimonials {
    padding: 40px 0;
    text-align: center;
    font-size: 46px;
    font-family: Helvetica, sans-serif;
    color: white;
}

.provided-header-testimonials:after {
    margin: 0 auto;
    margin-top: 20px;
    content: "";
    display: block;
    height: 5px;
    width: 120px;
    border-radius: 20px;
    background: linear-gradient(45deg, white, white, transparent, white, white, transparent, white, white);
}

.testimonials1 {
    width: 20%;
    padding: 30px 5px;
    background: white;
    border-radius: 12px;
    text-align: center;
}

.testimonials-person {
    display: flex;
}

.testimonials-quotes {
    padding: 10px 0;
    font-size: 30px;
    color: #999999;
    font-family: Arial, Helvetica, sans-serif;
}

.testimonials-reviews {
    margin: 0 20px;
    line-height: 1.5;
    font-family: Helvetica, sans-serif;
}

.testimonials-person {
    margin: 20px 20px;
    text-align: left;
}

.testimonials-name {
    margin: 6px 0 0 10px;
    font-size: 16px;
    font-weight: 600;
    font-family: Helvetica,
    sans-serif;
}

.testimonials-position {
    margin-left: 10px;
    font-size: 14px;
    font-family: Helvetica,
    sans-serif;
}

.testimonials-img {
    margin-left: 40px;
}

.dots {
    padding-top: 0;
    margin-bottom: 70px;
    color: white;
    font-size: 85px;
    text-align: center;
}

.blue-dot {
    color: #0099cc;
}

.contacts-map {
    display: flex;
    justify-content: right;
    align-items: right;
}

.contacts-header {
    text-align: left;
    font-size: 46px;
    font-family: Helvetica,
sans-serif;
}

.contacts-huge {
    margin-top: 60px;
    margin-right: 95px;
}

.text-email, .textarea {
    margin-top: 40px;
}

.textarea {
    margin-bottom: 30px;
}

#textname, #textemail, #canhelp {
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    font-style: italic;
    border-top: none;
    border-left: none;
    border-right: none;
}

#textname,
#textemail {
    width: 410px;
}

.contact-button {
    margin: 20px 0 40px 0;
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    background: linear-gradient(90deg, #6699ff, #33ccff);
    cursor: pointer;
    color: white;
}

.contact-button:hover {
    background: black;
}

.bare-contacts {
    display: flex;
    justify-content: space-between;
}

.address {
    display:flex;
}

.address-img {
    margin-right: 10px;
    padding: 10px;
    border: 2px solid #0066cc;
    color: #0066cc;
    border-radius: 50%;
    font-size: 20px;
}

.address-top {
    margin-top: 5px;
    color: #0066cc;
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    font-weight: 600;
}

.address-bottom {
    color: black;
    font-size: 14px;
    font-family: Helvetica, sans-serif;
}

.provided-header4 {
    padding: 50px 0 20px 0;
    text-align: center;
    margin: 0 auto;
    width: 60%;
    font-size: 30px;
    font-family: Helvetica, sans-serif;
    color: #99ccff;
}

.place-in-center {
    width: 44%;
    margin: 0 auto;
}

#subscription-email, #yourname {
    padding: 8px 36px;
    margin-right: 10px;
    background: none;
    border: 1px solid #99ccff;
    border-radius: 20px;
    font-size: 16px;
    font-family: Helvetica, sans-serif;
}

#subscription-email::placeholder, #yourname::placeholder {
    color: #99ccff;
}

.subscription-button {
    padding: 8px 36px;
    background: linear-gradient(90deg, #00cccc, #66ff99);
    color: white;
    border-radius: 20px;
    border: none;
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    cursor: pointer;
}

.subscription-button:hover {
    background: black;
}

.footer {
    background: #333333;
}

.footer-main-flex {
    width: 80%;
    margin: 0 auto;
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
}

.footer-conts, .footer-addr, .footer-fav {
    color: white;
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    line-height: 1.5;
}

.footer-addr {
    margin-top: 30px;
}

.footer-conts {
    margin: 20px 0;
}

.footer-fav {
    text-decoration: none;
    color: #00ccff;
}

.footer-fav:hover {
    color: #fff;
}

.footer-title-link, .footer-link {
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    text-decoration: none;
}

.footer-title-link {
    color: white;
    font-weight: 600;
}

.footer-link {
    color: #9999cc;
}

.margin-column {
    margin-top: 20px;
}

.bottom {
    background: #333333;
    color: white;
}

.for-bottom {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-family: Helvetica, sans-serif;
}

.bottom-sign {
    padding: 20px 20px;
    text-align: left;
}

.last-items {
    width: 35%;
    display: flex;
    justify-content: space-between;
}

.last-texts {
    text-decoration: none;
    color: #666699;
}

.pavel {
    color: #00ccff;
}
